// Add predefined macros for your project here. For example:
// #define THE_ANSWER 42
#define MODULE
#define CONFIG_PRINTK
#define LINUX
#define __KERNEL__
#define __arm__
#define __LINUX_ARM_ARCH__ 7
#define ARCH arm

#define CONFIG_PROC_FS

#define __USE_GNU
#define __GNUC__

#include <linux/kconfig.h>
